body {
  margin: 0;
  font-family:"Game of Thrones";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030 !important;
  font-size:10px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Game of Thrones';
  src:local("Game of Thrones"), url("./components/themes/Game of Thrones.ttf") format('truetype');
}
.dropdown{
  font-size:10px !important;
  width:30%
}
